@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Coitus</h1>
    <p class="lead">A no shenanigans straight to the point "Dating" web app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The 'Tip'</h2>
        <p>
            Here you will eventually be able to find the correct person to do what ever with, although I hope it all stays within the bounds of the Law.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How?</h2>
        <p>In my web app you will create an account that will determine what you what you like and what you're looking for.</p>
    </div>
    <div class="col-md-4">
        <h2>With what?</h2>
        <p>Good question indeed, this web app was built using ASP.NET MVC 5, LINQ to SQL,  </p>
    </div>
</div>